{% import_yaml "mongodb/defaults.yaml" as defaults %}
{% import_yaml "mongodb/osmap.yaml" as osmap %}
{% import_yaml "mongodb/codenamemap.yaml" as codemap %}
{% import_yaml "mongodb/percona.yaml" as perconamap %}

{% set distro_map = salt['pillar.get'](
    'mongodb:lookup',
    default=salt['grains.filter_by'](osmap),
    merge=True) %}
{% set code_map = salt['grains.filter_by'](codemap, grain='oscodename') %}

{% do defaults.mongodb.update(distro_map) %}
{% do defaults.mongodb.update(code_map) %}

{% set mdb = salt['pillar.get']('mongodb', default=defaults.mongodb, merge=True) %}
{% set ms = salt['pillar.get']('mongos', default=defaults.mongos, merge=True) %}

{% if mdb.use_percona %}
# Updating exported variables with new defaults for percona
{% do mdb.update(perconamap) %}
{% do ms.update(perconamap) %}
{% endif %}

# Replace version token in distro name if required
{% if '@@VERSION@@' in mdb.distro_name %}
{% set distro_name = mdb.distro_name | replace('@@VERSION@@', mdb.version) %}
{% do mdb.update({'distro_name': distro_name}) %}
{% endif %}


